[submodule "extern/skyui"]
	path = extern/skyui
	url = https://github.com/mlthelama/skyui.git
[submodule "extern/hint_button_menu"]
	path = extern/hint_button_menu
	url = https://github.com/mlthelama/hint_button_menu.git
	branch = main
[submodule "extern/CommonLibSSE-NG"]
	path = extern/CommonLibSSE-NG
	url = https://github.com/alandtse/CommonLibVR.git
	branch = ng
